<%- include('../partials/header') %>

<body>
  <main class="container">
    <h1><strong>Events Page</strong></h1>
    <!-- Add your content for the characters page here -->
  </main>

</body>
<%- include('../partials/footer') %>
